
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #ffffff; 
    text-align: center;
}

h3 {
    color: #3498db; 
    margin-bottom: 10px;
}

article {
    margin-bottom: 2rem;
}

article img {
    width: 400px;
    height: 250px;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}


