body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #3498db;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

article {
    margin-bottom: 2rem;
}

article img {
    width: 400px;
    height: 250px;
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    vertical-align: middle;
}

